<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>adamghill.com 🚀</title>

    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css" />
    <link rel="stylesheet" href="{% static 'css/adamghill.css' %}" />

    {% if not debug %}
    <script defer data-domain="adamghill.com" src="https://plausible.io/js/script.js"></script>
    {% endif %}
</head>

<body>
    <header>
        <h1>adamghill.com</h1>
        <span style="font-size: var(--font-size-8); padding-left: 6px;">
            🚀
        </span>
    </header>

    <main>
        <section>
            <h1>Here</h1>
            <h2 class="info">Sites</h2>

            <ul>
                {% for link in data.adamghill.here %}
                <li>
                    <a href="{{ link.href }}">{{ link.name }}</a>
                    <span class="info">
                        {{ link.info }}
                    </span>
                </li>
                {% endfor %}
            </ul>

            <h1>There</h1>
            <h2 class="info">Libraries</h2>
            <ul>
                {% for link in data.adamghill.there %}
                <li>
                    <a href="{{ link.href }}">{{ link.name }}</a>
                    <span class="info">
                        {{ link.info }}
                    </span>
                </li>
                {% endfor %}
            </ul>

            <h1>Elsewhere</h1>
            <h2 class="info">Writing</h2>

            <ul>
                {% for link in data.adamghill.elsewhere %}
                <li>
                    <a href="{{ link.href }}">{{ link.name }}</a>
                    <span class="info">
                        {{ link.info }}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>